* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: white;
}

h1 {
  font-size: 3rem;
  margin-top: 50px;
}

button {
  font-size: 1.5rem;
  padding: 10px 20px;
  margin-top: 20px;
}

canvas {
  display: block;
  margin: 0 auto;
  background-color: lightgray;
  border: 2px solid #000;
}

.page {
  display: none;
}

#startPage, #gameOverPage {
  display: block;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#finalScore, #highScore {
  font-size: 2rem;
  margin-top: 20px;
}

#quote {
  margin-top: 20px;
  font-size: 1.2rem;
}

#gameCanvas {
  width: 100vw;
  height: 70vh;
}
